# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Svelte / JS / Web files: Use tabs (width of 4 spaces visually)
[*.{js,ts,svelte,html,css,json}]
indent_style = tab
tab_width = 4

# Rust files: Use 4 spaces
[*.rs]
indent_style = space
indent_size = 4
