services:
  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: finance_pass
      POSTGRES_DB: finance_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://finance_user:finance_pass@db:5432/finance_db
      - PORT=8000
    depends_on:
      - db
    expose:
      - "8000"
    command: sh -c "./backend"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_data:
